<div id="header">
  <ul>
    <li><button class="icon big-icon"><i class="far fa-folder"></i></button></li>
    <li class="hline"></li>
    <li><button class="icon"><i class="fas fa-undo"></i></button></li>
    <li><button class="icon"><i class="fas fa-redo"></i></button></li>
    <li class="hline"></li>
    <li><button class="icon"><i class="fas fa-bold"></i></button></li>
    <li><button class="icon"><i class="fas fa-italic"></i></button></li>
    <li><button class="icon"><i class="fas fa-heading"></i></button></li>
    <li><button class="icon"><i class="fas fa-strikethrough"></i></button></li>
    <li class="hline"></li>
    <li><button class="icon"><i class="fas fa-list-ul"></i></button></li>
    <li><button class="icon"><i class="fas fa-list-ol"></i></button></li>
    <li><button class="icon"><i class="fas fa-tasks"></i></button></li>
    <li class="hline"></li>
    <li><button class="icon"><i class="fas fa-quote-right"></i></button></li>
    <li><button class="icon"><i class="fas fa-code"></i></button></li>
    <li><button class="icon"><i class="fas fa-table"></i></button></li>
    <li><button class="icon"><i class="fas fa-link"></i></button></li>
    <li class="hline"></li>
  </ul>
  <ul>
    <li><div class="text">path/to/markdown/file</div></li>
    <li class="hline"></li>
    <li><button class="icon"><i class="fas fa-sync"></i></button></li>
    <li><button class="icon"><i class="fas fa-download"></i></button></li>
    <li><button class="icon"><i class="fas fa-cog"></i></button></li>
  </ul>
</div>
